@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
padding: 0%;

}


body
{
  background-image: url(fundo.jpg);
  height: 100vh;
  box-sizing: content-box;
  background-color: black; 
color: #f4faf5;}

.titulo-destaque {color: rgb(13, 224, 224);}

h1 {
  color: #8FDBAB;}

img {
  width: 300px;
  height: auto;
  border-radius: 1000px;
}

.destaque {color: rgb(90, 169, 243);}
.importante {color: rgb(156, 139, 179);}
.sonho {color: rgb(7, 45, 170);}

.apresentacao { 
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.apresentacao__conteudo {
width: 615px;
display: flex;
flex-direction: column;
gap: 0px;

}
.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family:"Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
  margin-top: 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.apresentacao__conteudo__titulo1 {
  font-size: 24px;
  font-family:  "Montserrat", sans-serif;
}
.importante{
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.apresentacao__links{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
}
a:hover{
  background-color:#22d ;
}

  .apresentacao__links__link{
    background-color: #22d4fd;
    width: 200px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
  }
  