
@font-face{
  font-family: "krona one";
  src: url("../fontes/KronaOne-Regular.ttf");
}

:root{
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;

  --fonte-primaria:krona one ;
  --fonte-segundaria: "Montserrat", sans-serif;
}

* {
margin: 0;
padding: 0%;

}


body
{
  height: 80vh;
  box-sizing: content-box;
  background-color: var(--cor-primaria); 
color: var(--cor-secundaria)}

.cabecalho{
  padding: 5% 0% 0% 15%;
}

.cabecalho__menu{
  display: flex;
  gap: 20px;
}

.cabecalho__menu__link{
font-family:krona one;
font-size: 24px;
font-weight: 600;
color: #22D4FD;
text-decoration:none;
}

h1 {
  color: #8FDBAB;}

  .titulo-destaque {color: rgb(13, 224, 224);}

.apresentacao__minhafoto {
  width: 700px;
  height: auto;
  border-radius: 1000px;
}

.destaque {color: rgb(90, 169, 243);}
.importante {color: rgb(156, 139, 179);}
.sonho {color: rgb(7, 45, 170);}

.apresentacao { 
  margin: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.apresentacao__conteudo {
width: 600px;
display: flex;
flex-direction: column;
gap: 5px;

}
.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family:"Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
  margin-top: 5px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.apresentacao__conteudo__texto__curriculo{
   margin-top: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}

.apresentacao__conteudo__titulo1 {
  font-size: 24px;
  font-family:  "Montserrat", sans-serif;
}
.importante{
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links__subtitulo{
  font-family: "krona one",sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  
}
.apresentacao__links{
  margin-top: 20px;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
 
  
}
a:hover{border: 2px solid #f52ceb;}


  .apresentacao__links__link{
   border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font: weight 400; 
    border-radius: 7px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;}
  
  