/* definições de fontes */
@font-face{
  font-family: "krona one";
  src: url("../fontes/KronaOne-Regular.ttf");
}

* {
margin: 0;
padding: 0%;

}


body
{
  background-image: url(fundo.jpg);
  height: 100vh;
  box-sizing: content-box;
  background-color: black; 
color: #f4faf5;}

.cabecalho{
  padding: 5% 0% 0% 15%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link{
font-family:krona one ;
font-size: 24px;
font-weight: 600;
color: #22d4fd;
}

h1 {
  color: #8FDBAB;}

  .titulo-destaque {color: rgb(13, 224, 224);}

.apresentacao__minhafoto {
  width: 700px;
  height: auto;
  border-radius: 1000px;
}

.destaque {color: rgb(90, 169, 243);}
.importante {color: rgb(156, 139, 179);}
.sonho {color: rgb(7, 45, 170);}

.apresentacao { 
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.apresentacao__conteudo {
width: 615px;
display: flex;
flex-direction: column;
gap: 0px;

}
.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family:"Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
  margin-top: 40px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.apresentacao__conteudo__titulo1 {
  font-size: 24px;
  font-family:  "Montserrat", sans-serif;
}
.importante{
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links__subtitulo{
  font-family: "krona one",sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.apresentacao__links{
  margin-top: 20px;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
 
  
}
a:hover{border: 2px solid #f52ceb;}


  .apresentacao__links__link{
   border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font: weight 400; 
    border-radius: 7px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;}
  
  